* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    background-color: #0D3B66;
    height: 90vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

.circle {
    width: 192px;
    height: 192px;
    border: 1px dashed rgba(238, 238, 238, 0.502);
    border-radius: 96px;
}

.circle:hover {
    border: 1px dashed rgba(238, 238, 238, 1);
}

.circle:hover .grid-container {
    gap: 16px;
}

.grid-container {
    display: grid;
    grid-template-columns: 48px 48px;
    grid-template-rows: 48px 48px;
    gap: 0px;
    transition: all 0.3s linear;
}

.clover {
    border: 1px solid black;
    border-radius: 24px;
    transition: all 0.3s;
}

.clover:hover {
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.clover-ne {
    border-radius: 24px 24px 24px 0px;
    background-color: #FAF0CA;
}

.clover-se {
    border-radius: 0px 24px 24px 24px;
    background-color: #F4D35E;
}

.clover-sw {
    border-radius: 24px 0px 24px 24px;
    background-color: #EE964B;
}

.clover-nw {
    border-radius: 24px 24px 0px 24px;
    background-color: #F95738;
}